<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - Daniel Barbeyto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Página personal de Daniel Barbeyto Torres">
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Artículos</h1>
    <nav>
      <a href="{{ '/index.html' | relative_url }}">Inicio</a>
      <a href="{{ '/articulos.html' | relative_url }}">Artículos</a>
      <a href="{{ '/tests.html' | relative_url }}">Tests</a>
      <a href="{{ '/contacto.html' | relative_url }}">Contacto</a>
      <a href="{{ '/certificados.html' | relative_url }}">Certificados</a>
    </nav>
  </header>

  <div class="container">
    <main class="content">
      {{ content }}
    </main>
  </div>

  <footer>
    <p>© {{ site.time | date: "%Y" }} Daniel Barbeyto Torres</p>
  </footer>
</body>
</html>
